name: PRs
on: pull_request

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        dotnet: ['5.0.x', '6.0.x' ]
    name: Dotnet ${{ matrix.dotnet }} on ${{ matrix.os }}.
    steps:
      - uses: actions/checkout@v2    
      # you must include all the needed versions: 
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 2.1.x
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - run: dotnet --info
      - run: dotnet --list-sdks
      - run: dotnet restore
      - run: dotnet test
        env:
          SCANII_CREDS: ${{ secrets.SCANII_CREDS }}
